<div class='body'>
  <div class='container'>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
      <h2>User info</h2>
      
      <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
          <p>Name</p>
          <input name="name" value="<%= @user.name %>">
          <p>Image</p>
          <input name="image" type="file">
          <p>Introduction</p>
          <input name="Introduction" value="<%= @user.introduction %>">
          <input type="submit" value="Update User">
  <% end %>