<div class='body'>
  <div class='container'>
    <!--<p id="notice"></p>-->

<%= render 'books/list', books: @books %>

      <div class='col-xs-9'>
        <h2>Books</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @books.each do |book| %>
              <div class="book-item">
                <td="user-profile_image_id"><%= link_to "user.profile_image_id", user_path(@user) %></td>
                <td="book-title"><%= link_to "book.title", book_path(@book) %></td>
                <td="book-body"><%= book.body %></td>
                </div>
            <% end %>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>