 <div class='col-xs-9'>
		<h2>Book detail</h2>
		<table class='table'>
		  <tr>
        <td><a href="/users/24734">
          <img class="attachment user profile_image" src="/attachments/343ecc65297c9e523f75c975c7fad366f1cc865d/store/fill/100/100/e4b614dde8552c27b203180e54a181f3e4b647a2945962bfd032904261b0/profile_image" alt="Profile image" /><br>
          細山田
        </a></td>
        <td><a href="/books/book_p">onepiece</a></td>
        <td>jump</td>

          <td><a class="btn-sm btn-success edit_book_38686" href="/books/38686/edit">Edit</a></td>
          <td><a data-confirm="本当に消しますか？" class="btn-sm btn-danger destroy_book_38686" rel="nofollow" data-method="delete" href="/books/38686">Destroy</a></td>
      </tr>
    </table>

  </div>
</div>
      </div>
    </div>