 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <!--<li><a class="glyphicon glyphicon-home home" href="/users/24680"> Home</a></li>-->
          <!--users_show-->
          <li class><%= link_to 'Home', user_path %></li>
          <!--<li><a class="glyphicon glyphicon-user users" href="/users"> Users</a></li> -->
          <!--users_index-->
          <li class><%= link_to 'Users', users_path %></li>
          <!--<li><a class="glyphicon glyphicon-book books" href="/books"> Books</a></li>-->
          <!--books_index-->
          <li class><%= link_to 'Books',  books_path %></li>
          <!--<li><a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>-->
          <!--home_index-->
          <li class><%= link_to 'logout', root_path %></li>
      </ul>
    </nav>
  </div>
</header>
 
 
 
 
 
 
 
 <div class='col-xs-9'>
		<h2>Book detail</h2>
		<table class='table'>
		  <tr>
        <td><a href="/users/24734">
          <img class="attachment user profile_image" src="/attachments/343ecc65297c9e523f75c975c7fad366f1cc865d/store/fill/100/100/e4b614dde8552c27b203180e54a181f3e4b647a2945962bfd032904261b0/profile_image" alt="Profile image" /><br>
          細山田
        </a></td>
        <td><a href="/books/book_p">onepiece</a></td>
        <td>jump</td>

          <td><a class="btn-sm btn-success edit_book_38686" href="/books/38686/edit">Edit</a></td>
          <td><a data-confirm="本当に消しますか？" class="btn-sm btn-danger destroy_book_38686" rel="nofollow" data-method="delete" href="/books/38686">Destroy</a></td>
      </tr>
    </table>

  </div>
</div>
      </div>
    </div>
    
    
    
    
    
    
<footer>
  <div class='container'>
  	<div class='row'>
    	<div class='col-xs-3 col-xs-offset-9'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
